.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px; /* Adjust this value as needed */
  margin: 0 auto; /* Center the grid */
}

.product-item {
  width: 300px; /* Adjust this value as needed */
  margin-bottom: 20px;
  text-align: center;
  box-sizing: border-box;
  border: 10px solid #A68B64;
}

.product-item a {
  display: block;
  text-decoration: none;
  color: #333;
}

.product-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 5px;
}

.product-item span {
  display: block;
  font-size: 14px;
}

.product-item.placeholder {
  opacity: 0.6;
}