body {
    background-image: url("Temp_Background.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    margin: 0;
    color: beige;
    font-family: Arial, sans-serif;
    min-height: 95vh;
    max-width: 100%; /* Ensure body covers the full viewport height */
    position: relative; /* Needed for absolute positioning of the footer */
}

.container {
    min-height: calc(80vh - 20px); /* Adjust for footer height */
    position: relative;
}

.button-container {
  position: absolute;
  bottom: 70px; /* Adjust this value to move the container higher */
  left: 50%;
  transform: translateX(-50%);
  text-align: center; /* Center the button horizontally within the container */
}

.button {
  display: inline-block; /* Allows you to control width/height if needed */
  padding: 15px 30px;
  font-size: 1.2em;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.title-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
}

.logo-container {
    position: relative; /* Make this the positioning context */
    width: 300px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
}

.logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 300px; /* Adjust to your desired size */
    height: auto; /* Maintain aspect ratio */
}

.tagline {
    position: absolute;
    top: 60%; /* Adjust as needed */
    left: 50%;
    transform: translate(-50%, -50%); /* Center the tagline */
    font-size: 1.2em;
    color: #000;
    text-align: center;
    width: 100%;
}

h1 {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    width: auto;
    text-align: left;
}

footer {
    background-color: white; /* Solid white background */
    color: black; /* Ensures text is readable against white background */
    text-align: center;
    padding: 10px 0;
    width: 98%; /* Spans the entire width */
    position: fixed; /* Sticks to the bottom */
    bottom: 0; /* Aligns to the bottom */
    left: 0; /* Aligns to the left */
    margin: 0; /* Remove default margins */
}

footer ul {
    list-style-type: none; /* Get rid of bullets */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margins */
    display: inline-block; /* Keeps the list horizontal */
}

footer li {
    display: inline; /* Make list items horizontal */
    margin: 0 10px; /* Add some spacing between the links */
}

footer a {
    text-decoration: none; /* Remove underlines from links */
    color: #333; /* Set link color */
}

footer a:hover {
    color: #007bff; /* Change color on hover */
}
